<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
  <h5>Logged in as: <%= current_user.email %></h5>
<% end %>

<%= yield %>

<% if logged_in? %>
  <p>
    <%= button_to "Logout", session_url, method: :delete %>
  </p>
<% end %>

</body>
</html>
